dist
package-lock.json
node_modules
.idea
.vscode
*.log
.env
.env.local
.env.staging
.env.production
.env.testing
.serverless
.build
.DS_Store
devnotes.txt
.helpers.md
.pgpass
log*.txt
logs/*.txt
coverage/
prisma1/src/
