version: "3"
services:
  web:
    image: node:12-alpine
    command: sh -c "yarn install && yarn start"
    ports:
      - "3000:3000"
    working_dir: /app
    volumes:
      - ./:/app
  redis:
    image: "redis:alpine"
    restart: always
    command: redis-server
    ports:
      - "6379:6379"
    volumes:
      - $PWD/redis-data:/var/lib/redis
      - $PWD/redis.conf:/usr/local/etc/redis/redis.conf

    environment:
      - REDIS_REPLICATION_MODE=master
  postgres:
    image: postgres:10.3
    restart: always
    ports:
      - "9876:5432"
    environment:
      POSTGRES_MULTIPLE_DATABASES: prisma,prismatest
      POSTGRES_USER: prisma
      POSTGRES_PASSWORD: prisma
    volumes:
      - ../docker-postgresql-multiple-databases:/docker-entrypoint-initdb.d
      - postgres:/var/lib/postgresql/data
  prisma:
    image: prismagraphql/prisma:1.34
    restart: always
    ports:
      - "4466:4466"
    environment:
      PRISMA_CONFIG: |
        port: 4466
        databases:
          default:
            connector: postgres
            host: postgres
            port: 5432
            user: prisma
            password: prisma
  prisma_testing:
    image: prismagraphql/prisma:1.34
    restart: always
    ports:
      - "4477:4477"
    environment:
      PRISMA_CONFIG: |
        port: 4477
        databases:
          default:
            connector: postgres
            host: postgres
            port: 5432
            database: prismatest
            user: prisma
            password: prisma
volumes:
  postgres: ~
